<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add List</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="list">
        <ul>
            <%for(let item of note.list){%>
                <ul class="list_check">
                    <li><input type="checkbox" onclick="toggleStrike(this)"><%=item%></li>
                </ul>
            <% } %>
        </ul>
    </div>
    <form action="/notes/<%=note.id%>/item" method="post">
        <input type="text" name="item">
        <button class="db">ADD</button>
    </form>
    <button class="mylist_btn_cover db" style="margin-left: 43px; margin-top: 20px;"><a href="http://localhost:3000/notes/list/<%=note.id%>" class="mylist_btn">Done</a></button>
</body>
</html>