<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creat New List</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="/notes" method="post">
        <input type="text" placeholder="Enter the Name of the List" name="name">     
        <!-- <button class="mylist_btn_cover"><a href="http://localhost:3000/notes/list/" class="mylist_btn">My List</a></button> -->
        <button class="db">Next</button>
    </form>
<!-- <button class="mylist_btn_cover" style="margin-left: 43px;"><a href="http://localhost:3000/notes/new/item" class="mylist_btn">Add List</a></button> -->
</body>
</html>